.cta_bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0852/5099/8550/files/Rectangle_3950.png?v=1714507102");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
